rules_version = '2';

// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /{document=**} {
//       allow read, write: if true;
//     }
//   }
// }


service cloud.firestore { 
	match /databases/{database}/documents {
  
    match /betatesters/{docId} {
      allow read, write: if false;
    }
  
    match /deleted_activities/{docId} {
      allow read, write: if false;
    }
  
    match /activities/{docId} {
      allow read;
      allow write: if false;
    }
    
    match /users/{userId} {
      allow read: if request.auth.uid == userId ;
      allow write: if false;
    }
    
    match /profiles/{userId} {
      allow read;
      allow write: if false;
    }
    
    match /locations/{docId} {
    	// TODO: to add uid to resouce
    	// allow read: if request.auth.uid == request.resource.data.meta.userId ;
      allow write: if false;
      allow read: if true;
    }
	}
}